DB_NAME=project26_v1
DB_PORT=3306
DB_USERNAME=project26_v1
DB_PASSWORD=peter102399

TEST_DB_NAME=project26_v1_test
TEST_DB_PORT=3306
TEST_DB_USERNAME=project26_v1_test
TEST_DB_PASSWORD=123123

GMAIL_USERNAME=
GMAIL_PASSWORD=

JWT_SECRET=my-local-development-jwt-secret-key-2026
# 15 分鐘
JWT_ACCESS_TOKEN_SECONDS=900
# 10,080 分鐘（= 7 天）
JWT_REFRESH_TOKEN_SECONDS=604800

APP_BASE_URL=http://localhost:8080
PASSWORD_RESET_TOKEN_MINUTES=30